# Игнорируем виртуальные окружения
venv/
.env/

# Игнорируем кеш Python
__pycache__/
*.pyc
*.pyo

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем все, кроме нужных файлов
*
!*.py
!*.md
!*.toml
!*/  # чтобы подпапки копировались (но файлы внутри подпапок всё равно фильтруются выше)
