[flake8]
max-line-length = 88
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    migrations,
    processing,
    files,
    vendor,
    node_modules,
    docs
ignore = E203, W503,W291,W292,W293, F401,E226 ,E501,F541, F811 
