altgraph==0.17.5
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
bashlex==0.18
bottle==0.13.4
bracex==2.6
build==1.4.0
certifi==2026.1.4
cffi==2.0.0
cibuildwheel==3.3.1
click==8.3.1
clr-loader==0.2.10
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
cython==3.2.4
dependency-groups==1.3.1
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.128.0
fastapi-cli==0.0.20
filelock==3.20.3
fonttools==4.61.1
greenlet==3.3.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
humanize==4.15.0
idna==3.11
jinja2==3.1.6
kiwisolver==1.4.9
llvmlite==0.46.0
markdown-it-py==4.0.0
markupsafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
numba==0.63.1
numpy==2.3.5
packaging==25.0
pandas==2.3.3
pastel==0.2.1
pefile==2024.8.26
pentapy==1.4.1
pillow==12.1.0
platformdirs==4.5.1
poethepoet==0.40.0
proxy-tools==0.1.0
pybaselines==1.2.1
pycparser==2.23
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-extra-types==2.11.0
pydantic-settings==2.12.0
pyelftools==0.32
pygments==2.19.2
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2025.11
pyparsing==3.3.1
pyproject-hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.21
pythonnet==3.0.5
pytz==2025.2
pywavelets==1.9.0
pywebview==6.1
pywin32-ctypes==0.2.3
pyyaml==6.0.3
pyyawt @ file:///C:/Users/Admin/Downloads/ECG_UHD-master/pyyawt/dist/pyyawt-0.1.2.dev0+f4f6416-cp314-cp314-win_amd64.whl
rich==14.2.0
rich-toolkit==0.17.1
scipy==1.17.0
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
sqlalchemy==2.0.45
sqlmodel==0.0.31
starlette==0.50.0
typer==0.21.1
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
uvicorn==0.40.0
watchfiles==1.1.1
websockets==16.0
wheel==0.45.1
